{% extends "base.html" %}

{% block content %}
    <div class="products-page">
        <h1 class="page-title">Наші товари</h1>

        <div class="product-list">
            {% for product in page_obj %}
                <div class="product-card">
                    <h2>{{ product.name }}</h2>
                    <p>{{ product.description }}</p>
                    <p class="price">💰 {{ product.price }} грн</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block paginator %}
    <div class="pagination-wrapper">
        {% include "paginator.html" with page_obj=page_obj %}
    </div>
{% endblock %}
